@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
  --primary: white;
  --secondary: #4554f1;
  --accent: rgb(58, 215, 110);
  --buttonBackground: white;
  --primaryFont: white;
  --secondaryFont: rgb(177, 177, 177);
}

body {
  margin: 0;
  margin-top: 50px;
  min-height: 100vh;
  background-color: var(--primary);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
